.tabs_links {
    padding: 25px;
    border-radius: 6px;
    .nav_anker {
        font-size: 17px !important;
        font-weight: 500 !important;
    }
}

.right_aside_main {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}